.section-contact {
  background-color: #f34a38;
  color: white;

  h3 {
    margin-bottom: 40px;
  }

  .fork-button-wrapper {
    margin-top: 35px;

    .fork-button {

    }
  }

  td {
    padding-right: 2em;
    padding-bottom: 0.5em;
  }

  a {
    text-decoration: none;
  }
}
