.landing-header {
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 50px);

  h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 50px;
  }

  h3 {
    margin-bottom: 50px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff9500;
    border-color: #ff9500;
    border-width: 1px;
    border-style: solid;
    border-radius: 22px;
    background-clip: border-box;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;

    &:hover {
      color: #ff9500;
      background-color: #fff;
      text-decoration: none;
    }
  }
}